#menu {
    align-items: center;
    display: flex;
    bottom: 24px;
    gap: 8px;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

#menu button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(127, 255, 255, 0.5);
    border-radius: 16px;
    color: rgba(127, 255, 255, 0.5);
    box-shadow: 0 0 12px rgba(127, 255, 255, 0.5);
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;
}

#menu button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(127, 255, 255, 1);
    box-shadow:
        0 0 20px rgba(127, 255, 255, 0.8),
        0 0 30px rgba(127, 255, 255, 0.6);
}

.user-wrapper {
    cursor: default;
    font-family: Helvetica, sans-serif;
    height: 180px;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 120px;
}

.user-wrapper.green {
    border: 1px solid #3a9f48;
    box-shadow: 0 0 12px #3A9F48;
}

.user-wrapper.yellow {
    border: 1px solid #FDCA36;
    box-shadow: 0 0 12px #FDCA36;
}

.user-wrapper.red {
    border: 1px solid #EF3022;
    box-shadow: 0 0 12px #EF3022;
}

.user-wrapper .user {
    padding: 12px;
}

.user-wrapper .user-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.user-wrapper .user-image {
    margin: 0 auto;
    overflow: hidden;
}
