html, body, #app {
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  min-width: 100%;
  overflow: hidden;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
